header {
    width: min(100%, 1440px);
    height: 8vh;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
#container{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;

}
nav {
    width: 50%;
    transition: all 250ms linear 0s;
    display: flex;
    justify-content: space-between;

}

.links {
    display: flex;
}

.links, ul
a{
    text-decoration: none;
    font: 300 2rem arial;
    color: var(--secShade2);
    margin-right: 30%;

}
.links a:hover {
    text-decoration: none;
    font: 300 2rem arial;
    color: var(--Primary);
    text-decoration: underline;

}
.popups{
    background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
    width: 15px;
    height: 15px;
    border-radius: 20px;
    font-size: 13px;
    text-align: center;
    bottom: 30px;
    left: 40px;
    position: relative;
}



@media (max-width: 375px) {
    html{
        font-size: 50%;
    }
    header {
        width: 100%;
        display: flex;
        justify-content: space-around;
    
    }
    #container{
        width: 100% 
    }
    .links { 
        opacity: 0;
    }
  

 
  


}