/*utilizada em todas as seções, onde fica o h6, */

.line{
    display: flex;
    align-items: center;
    padding: 30px;
    

}

@media ( max-width: 380px){
    .line {
        display: flex;

    }

}