/*Header Nav*/

.logotipo{  
    display: flex;
    align-items: center;
    max-width: 200px;
    min-width: none;

}
.logo{
background-color: var(--Primary);
padding: 5px;
border-radius: 5px;

}
.dot {
background-color: var(--Primary);
width: 5px;
height: 5px;
position: relative;
top: 12px;

}

@media (max-width: 375px){

    .logo{
        display: none;
    }

}