#second{
    background-color: var(--Dark);
    width: min(100%, 1440px);
    height: 1450px;
}

.about-us{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;

}

.date-img{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 50px;
}
.date li{
    font: 300 3rem 'displaymedium';
    list-style: none;
    color:var(--light);
    position: relative;
    padding: 60px;
}
.desktop{
    width: 100%;
    height: 80%;
  
}



.a-design-team{
    width: 100%;
    display: flex;
   justify-content: end;
   padding: 20px;
    
}
.info{
    width: 50%;

}
.branding{
    font: 500 4rem 'displayregular';
    color: white;
    text-align: center;
  
}



.branding 
strong {
    color: white;
    font-size: 15rem;
   

}

@media (max-width: 380px) {
    #second {
        width: 100%;
        height: 1650px;
    }
    .about-us{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        width: 50%;
        margin-left: 30px;
        height: auto;

    }

  
    .date{
        opacity: 0;
    }
    .desktop{
    position: relative;
    right: 80px;
    }
    .a-design-team{
        flex-direction: column;
        align-items: center;
        
    }
    .branding  {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        height: 300px;
        box-shadow: 0px 28px 30px rgba(0, 0, 0, 0.59);
        border-radius: 100%;

    }
    .date-img{
        margin-left: -50px;
        width: 120%;
        height: 25%;
    }
    .info{
        width: 100%;
    
    }


}