#third{
    width: min(100%, 1440px);
    height: auto;
}
.our-partnership{
    width: min(100%, 1440px);
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}
.our-partnership button{
    align-self: flex-end;
    position: relative;
    bottom: 50px;

}

.img-cards-mobile{
    display: none;
   
    
}
.female-running {
    display: none;
}
.img-partner {
    position: relative;
    bottom: 200px;
}
.arrow-border{
    border: solid grey;
    width: 40px;
    padding: 10px;
    border-radius: 100%;
    display: none;
}
.figure {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 30px;
    position: relative;
    bottom: 200px;
    


}

.container-directions{
    display: flex;
    flex-direction: column;

}
.left {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 100px;
  }
  
  .right {
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 100px;
  }
  .img-bento3D {
    background-color: var(--bento3D);
    display: block;
    border-radius: 20px;

  }
  
  .img-bentoVol3{
    background-color: var(--bentoVol3) ;
    display: block;
    border-radius: 20px;


  }

.img-sapiens{
    background-color: var(--sapiens) ;
    display: block;
    border-radius: 20px;

}



@media (max-width: 380px) {
    .img-cards-mobile{
        display: block;
        position: relative;
        bottom: 100px;
    
    }
    .img-cards{
        display: none;
    }
    .female-running{
        display: flex;
        flex-direction: column;
        margin: 30px;
        align-items: left;
   
    
    }
    .img-female-running{
        display: block;
        background-color: var(--bento3D);
        border-radius: 20px;
    }
    .img-female-running, h4, figcaption{
        display: block;
    }
    .img-partner{
        display: none;
        
    }
    .arrow-border {
        display: block;
    }
    .figure {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: left;
    
    }
    .container-directions{
        margin-top: 180px;
    }
   
     .left, .right{
        all: unset;
    }

}