@font-face{
    font-family: 'displayregular';
    src: url(../fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF) format('opentype');
}

h1 {
    font: 900 8rem 'displayregular';
    color: var(--Dark);
}

h2{
    font-size: 7rem;
    color: white;
    letter-spacing: -0.5px;
}

h3{
    font: 500 4rem 'displayregular';
    color: white; 
    
}

h4{
    font: 800 3.3rem 'displayregular';
    position: relative;
    color: var(--Dark);
    display: flex;
    align-self: start;
    margin: 20px 0px 20px 0px;

}

h5{
    font: 800 3.3rem 'displayregular';
    color: var(--Dark);
}

h6{
    font: 300 2rem 'displayregular';
    color: #ffff;
    padding-left: 50px;
 

}


.about-us{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
 
    

}

@media (max-width:380px){

.about-us{
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;

}

h6{
    padding-left: 0;
}
}