
/*Second Section*/
.arrow{
    width: 100%;
    height: 100%;
}
.container-arrow
p, .path{
    opacity: 0;
}



/*Footer*/
.arrow3 {
    border: solid #ffff;
    width: 50px;
    padding: 15px;
    border-radius: 100% ;
  }




@media (max-width: 380px ){

/*Second Section*/
    .container-arrow{
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 150px;
   
       
    }
    .arrow {
        width: 50px;
    }
    .container-arrow
    p, .path{
    opacity: 1;

    }
    .arrow2{
        position: relative; 
        top: 550px;
    
    }

}

    @media (max-width: 528px ){

        /*Second Section*/
            .container-arrow{
                display: flex;
                justify-content: space-between;
                position: relative;
              
               
            }
            .container-arrow
            p, .path{
            opacity: 1;
        
            }
            .arrow2{
                position: relative; 
                top: 550px;
            
            }




}