



.menu-mobile{
    opacity: 0;
}
.menu-mobile-template{
    display: none;


}

@media(max-width: 375px){

    .menu-mobile{
        display: flex;
        flex-direction: column;
        padding: 5px;
        position: relative;
        left: 200px;
        top: 10px;
        opacity: 1;
        width: 50px;
    }

    .menu-mobile-template{
        display: flex;

    }

}

@media(max-width: 528px){

    .menu-mobile{
        display: flex;
        flex-direction: column;
        padding: 5px;
        position: relative;
        left: 200px;
        top: 10px;
        opacity: 1;
        width: 50px;
    }

    .menu-mobile-template{
        display: flex;

    }

}